{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="single-technology">
            <div class="tech-menu">
                <h3>Technologies</h3>
                <ul>
                    {% for page in pages("technology")|sort_by("time")|reverse if not page.hidden %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tech-content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>