body{
    background-color: $background-color;
    // background-image: $background-color;
    overflow-y: scroll;
    height: 100%;
}

img:not([alt]) {
    outline: 4px #f00 dashed !important;
}

img, embed, object, video {
    max-width: 100%;
    // height: 100%;
}

picture {
    font-size: 0;
    margin: 0;
    line-height: 0;
    font-weight: 0;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    width: 6px;
    border: 2px solid $background-color;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}