// Dark colors
$font-color: #E6EDF3;
$font-alt-color: #9b9b9b;
$gray-color: #505050;
$accent-color: #97a5e6;
$light-accent-color: #97c4ff;
$background-color: #0D1117;
$surface: #212b3b;
$the-orange: #D9601A;