
.report-grid{
    display: grid;
    gap: 20px 20px;
    margin-bottom: 10px;
}

.report-grid a{
    max-width: 390px;
    max-height: 800px;
    overflow: hidden;
}

.span-4 {
    grid-column: span 4;
}

.span-3 {
    grid-column: span 3;
}

.span-2 {
    grid-column: span 2;
}

.span-1 {
    grid-column: span 1;
}

.center{
    justify-self: center;
}

.fill-width{
    width: 100%;
}

@media (max-width: 767px) {
    .span-grow{
        grid-column: span 4;
    }
}