@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'typografy';
@import 'base';

@import 'placement';
@import 'main';

@import 'header';
@import 'footer';


@import 'blockquotes';
@import 'code';
@import 'table';
@import 'mobile-menu';


* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}



html, body {
    height: 100%;
}