@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;

}

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-color;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 0.2em;
    margin-bottom: 0.9em;
    font-size: 1.1rem;
}

a{
    color: $accent-color;
}

a:hover{
    color: $light-accent-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 1.1em;
    margin-top: 1em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}