// Light colors
$font-color: #333;
$font-alt-color: #858585;
$gray-color: #ccc;
$accent-color: #194989;
$light-accent-color: #97c4ff;
$background-color: #EEE;
$surface: #fff;
$the-orange: rgb(255, 136, 0);
$shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;

