
// Dark colors
// $font-color: #E6EDF3;
// $font-alt-color: #9b9b9b;
// $gray-color: #6b6b6b;
// $accent-color: #193ddb;
// $background-color: #0D1117;


// Light colors
$font-color: #333;
$font-alt-color: #858585;
$gray-color: #ccc;
$accent-color: #194989;
$light-accent-color: #97c4ff;
$background-color: #fff;
