// Light colors
$font-color: #333;
$font-alt-color: #858585;
$gray-color: #ccc;
$accent-color: #194989;
$light-accent-color: #97c4ff;
$background-color: #EEE;
$surface: #fff;
$the-orange: rgb(255, 136, 0);